
@import '../../mediaqueries.less';
@btn-close-width: 2rem;

.dialog-header {
    .dialog-title {
        display: block;
        width: calc(100% - @btn-close-width);
    }

    .btn-close {
        float: right;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        width: @btn-close-width;
    }
}



.img-layout-container-pic {
    width: 100%;

    .kevinaimelecss{
        width: 100%;
    }
}
